*.iml
.DS_Store

# for files/dirs used in CI that shouldn't appear in git diffs
/.ci/

bin/
target/
logs/
**/out/
npm-debug.log
dependency-reduced-pom.xml
build/
app-common/build/*
buildSrc/build/*

.gradle/*

backend.ipr
backend.iws
kotlin-protos-out
node_modules/

.terraform/
*.hprof*
hs_err_pid*.log

## VS Code gitignore
.classpath
.project
.settings/
.vscode/


## Opt out everything in .idea by default
/.idea/**
## Opt certain .idea files back in
!/.idea/encodings.xml
!/.idea/fileTemplates/*
!/.idea/inspectionProfiles/Project_Default.xml

# Python
scripts/__pycache__/
scripts/pytest/__pycache__/

# local enviroment variables file
.env
